//variables
$gray : #9BA2A9;
$green : #00753E;
$white : #FFFFFF;
$vino : #742844;

body{
	@media #{$small-up}{

	}
	@media #{$small-only}{

	}
	@media #{$medium-up}{

	}
	@media #{$medium-only}{

	}
	@media #{$large-up}{

	}
	@media #{$large-only}{

	}
}